.container {
  display: flex;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #eee;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}
